<script
  type="text/javascript"
  src="https://code.jquery.com/jquery-3.2.1.min.js"
></script>
<form (submit)="onAdicionarMedico(medicoForm)" #medicoForm="ngForm">
  <div class="dados-pessoais">
    <h5>Dados pessoais</h5>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputNome">Nome</label>
        <input
          type="text"
          class="form-control"
          id="inputNome"
          placeholder="Informe seu nome completo"
          name="nome"
          [ngModel]="medico?.nome"
          #nome="ngModel"
        />
      </div>
      <div class="form-group col-md-1">
        <label for="inputSexo">Sexo</label>
        <select
          id="inputSexo"
          class="form-control"
          name="sexo"
          [ngModel]="medico?.nome"
          #sexo="ngModel"
        >
          <option selected>Selecione</option>
          <option value="Feminino">Feminino</option>
          <option value="Masculino">Masculino</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputData">Data de nascimento</label>
        <input
          type="date"
          class="form-control"
          id="inputData"
          placeholder=""
          name="dtnasc"
          [ngModel]="medico?.dtnasc"
          #dtNasc="ngModel"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="inputFoto">(Faça o upload de uma foto sua)</label>
        <input
          type="file"
          accept="image/*"
          class="form-control"
          id="inputFoto"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail">Email</label>
        <input
          type="email"
          class="form-control"
          id="inputEmail"
          placeholder="exemplo@email.com"
          name="email"
          [ngModel]="medico?.email"
          #email="ngModel"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="inputTelefone">Telefone</label>
        <input
          type="number"
          class="form-control"
          id="inputTelefone"
          placeholder="(00) 0000-0000"
          name="fone"
          [ngModel]="medico?.fone"
          #fone="ngModel"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="inputCpf">CPF</label>
        <input
          type="number"
          class="form-control"
          id="inputCpf"
          placeholder="000.000.000-00"
          name="cpf"
          [ngModel]="medico?.cpf"
          #cpf="ngModel"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEspec">Especialidade</label>
        <input
          type="text"
          class="form-control"
          id="inputEspec"
          placeholder="Informe apenas uma especialidade"
          name="espec"
          [ngModel]="medico?.espec"
          #espec="ngModel"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="inputCRM">CRM/UF</label>
        <input
          type="text"
          class="form-control"
          id="inputCRM"
          placeholder="000000/XX"
          name="crm"
          [ngModel]="medico?.crm"
          #crm="ngModel"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="inputFoto">(Faça o upload de uma foto do seu CRM)</label>
        <input
          type="file"
          accept="image/*"
          class="form-control"
          id="inputFoto"
        />
      </div>
    </div>
    <div class="form-group">
      <label for="inputSenha">Senha</label>
      <input
        type="password"
        class="form-control"
        id="inputSenha"
        placeholder=""
        name="senha"
        [ngModel]="medico?.senha"
        #senha="ngModel"
      />
    </div>
    <div class="form-group">
      <label for="inputSenha">Confirmar senha</label>
      <input
        type="password"
        class="form-control"
        id="inputSenha2"
        placeholder=""
        name="senhaconf"
        [ngModel]="medico?.senhaconf"
        #senhaconf="ngModel"
      />
    </div>
    <div class="form-group">
      <label for="inputFoto"
        >Selecione uma foto (será visível no seu perfil)</label
      >
      <input type="file" accept="image/*" class="form-control" id="inputFoto" />
    </div>
  </div>
  <div class="endereco">
    <h5>Endereço</h5>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="inputCEP">CEP</label>
        <input
          type="text"
          class="form-control"
          id="inputCEP"
          placeholder="00000-000"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="inputEndereco">Endereço</label>
        <input
          type="text"
          class="form-control"
          id="inputEndereco"
          placeholder="Rua dos Bobos, nº 0"
        />
      </div>
      <div class="form-group col-md-4">
        <label for="inputComplemento">Complemento</label>
        <input
          type="text"
          class="form-control"
          id="inputComplemento"
          placeholder="Bloco, nº apartamento..."
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputBairro">Bairro</label>
        <input type="text" class="form-control" id="inputBairro" />
      </div>
      <div class="form-group col-md-4">
        <label for="inputCidade">Cidade</label>
        <input type="text" class="form-control" id="inputCidade" />
      </div>
      <div class="form-group col-md-4">
        <label for="inputEstado">Estado</label>
        <select id="inputEstado" class="form-control">
          <option selected>Escolher...</option>
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck" />
        <label class="form-check-label" for="gridCheck"
          >É verdade esse bilete</label
        >
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-info" value="enviar">
    Finalizar cadastro
  </button>
</form>
