<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <img src="assets\img\loogoo.png" width="140" height="80" alt="LOGO" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex">
        <input class="search"
          class="form-control me-2"
          type="search"
          placeholder="Digite o que procura"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Pesquisar</button>
      </form>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <span>
            <a class="nav-link active" aria-current="page" routerLink=""
              >Início</a
            >
          </span>
        </li>
        <li class="nav-item">
          <span>
            <a class="nav-link" routerLink="sobre">Sobre nós</a>
          </span>
        </li>
        <li class="nav-item dropdown">
          <span>
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Especialidades
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">ex1</a></li>
              <li><a class="dropdown-item" href="#">ex2</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">ex3</a></li>
              <li><a class="dropdown-item" href="#">ex4</a></li>
            </ul>
          </span>
        </li>
        <li class="nav-item">
          <span>
            <a class="nav-link" routerLink="agenda">Agendar consulta</a>
          </span>
        </li>
        <li class="nav-item">
          <span>
            <!--voltar para sign-->
            <a class="nav-link" routerLink="usuario">Cadastre-se</a>
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>
