<div>
  <h5>Suas consultas agendadas</h5>
  <mat-accordion *ngIf="agendas.length > 0">
    <mat-expansion-panel *ngFor="let agenda of agendas">
      <mat-expansion-panel-header
        >{{ agenda.paciente }} - {{ agenda.espec }}</mat-expansion-panel-header
      >
      <p>Data: {{ agenda.date }}</p>
      <p>Hora: {{ agenda.hora }}</p>
      <mat-action-row>
        <a mat-button color="primary" [routerLink]="['/agendaInserir', agenda.id]">Editar consulta</a>
        <button mat-button color="warn" (click)="onDelete(agenda.id)">Cancelar consulta</button>
        <button mat-button color="primary" routerLink="medicoReceita">Adicionar</button>
        </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <p class="mat-body-1" style="text-align: center;" *ngIf="agendas.length <= 0">
    Nenhuma consulta agendada
    </p>
</div>
