<script
  type="text/javascript"
  src="https://code.jquery.com/jquery-3.2.1.min.js"
></script>
<form (submit)="onLogin(loginForm)" #loginForm="ngForm">
  <div class="dados-pessoais">
    <h4>Login</h4>
    <p>Ainda não possui cadastro? <a routerLink="/usuario">Cadastre-se</a></p>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputEmail">Email</label>
        <input
          type="email"
          class="form-control"
          id="inputEmail"
          placeholder="exemplo@email.com"
          name="email"
          ngModel
          #emailInput="ngModel"
          required
          email
        />
        <mat-error *ngIf="emailInput.invalid">Digite um e-mail válido</mat-error>
      </div>
    </div>
    <div class="form-group">
      <label for="inputSenha">Senha</label>
      <input
        type="password"
        class="form-control"
        id="inputSenha"
        placeholder=""
        ngModel
        name="senha"
        #senhaInput="ngModel"
      />
      <mat-error *ngIf="senhaInput.invalid">Senha inválida</mat-error>
    </div>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="gridCheck" />
    <label class="form-check-label" for="gridCheck">Salvar senha</label>
  </div>
  <button type="submit" class="btn btn-info" value="enviar">Entrar</button>
</form>

