<script
  type="text/javascript"
  src="https://code.jquery.com/jquery-3.2.1.min.js"
></script>
<form form (submit)="onAdicionarAgenda(agendaForm)" *ngIf="!estaCarregando" #agendaForm="ngForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEspecialidade">Especialidade</label>
      <select
        id="inputEspecialidade"
        class="form-control"
        name="espec"
        [ngModel]="agenda?.espec"
        #espec="ngModel"
      >
        <option selected>Escolha a especialidade desejada</option>
        <option value="Nutrição">Nutrição</option>
        <option value="Psicologia">Psicologia</option>
        <option value="Psiquiatria">Psiquiatria</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="inputMedico">Medico</label>
      <select
        id="inputMedico"
        class="form-control"
        name="medico"
        [ngModel]="agenda?.medico"
        #medico="ngModel"
      >
        <option selected>Selecione o médico de preferência</option>
        <option value="NA">Não tenho preferência</option>
        <option value="Bianca">Bianca</option>
        <option value="Marcio">Marcio</option>
        <option value="Renato">Renato</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputData">Data </label>
      <input
        type="date"
        class="form-control"
        id="inputData"
        placeholder="Selecione uma data disponível"
        name="date"
        [ngModel]="agenda?.date"
        #date="ngModel"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="inputHora">Horário</label>
      <input
        type="time"
        class="form-control"
        id="inputHora"
        placeholder="Selecione um horário disponível"
        name="hora"
        [ngModel]="agenda?.hora"
        #hora="ngModel"
      />
    </div>
  </div>
  <div class="form-row">
    <button type="submit" class="btn btn-info" value="enviar">Agendar</button>
  </div>

  <full-calendar [options]="calendarOptions"></full-calendar>
  <app-agenda-medico class="lista"></app-agenda-medico>
</form>
