<script
  type="text/javascript"
  src="https://code.jquery.com/jquery-3.2.1.min.js"
></script>
<form (submit)="onAdicionarAgenda(agendaForm)" #agendaForm="ngForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEspecialidade">Especialidade</label>
      <select
        id="inputEspecialidade"
        class="form-control"
        name="espec"
        ngModel
        #espec="ngModel"
      >
        <option value="Nutrição">Nutrição</option>
        <option value="Psicologia">Psicologia</option>
        <option value="Psiquiatria">Psiquiatria</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPaciente">Paciente</label>
      <select
        id="inputPaciente"
        class="form-control"
        name="paciente"
        ngModel
        #paciente="ngModel"
      >
        <option selected>Selecione o paciente para filtrar</option>
        <option value="Todos">Todos</option>
        <option value="1">paciente</option>
        <option value="2">paciente</option>
        <option value="3">paciente</option>
        <option value="4">paciente</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputData">Data </label>
      <input
        type="date"
        class="form-control"
        id="inputData"
        placeholder="Selecione uma data"
        name="date"
        ngModel
        #date="ngModel"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="inputHora">Horário</label>
      <input
        type="time"
        class="form-control"
        id="inputHora"
        placeholder="Selecione um horário"
        name="hora"
        ngModel
        #hora="ngModel"
      />
    </div>
  </div>
  <div class="form-row">
    <button type="submit" class="btn btn-info" value="enviar">Agendar</button>
    <button
      type="submit"
      class="btn btn-outline-primary"
      id="btn2"
      value="enviar"
    >
      Consultar
    </button>
  </div>

  <full-calendar [options]="calendarOptions"></full-calendar>

  <app-agenda-medico class="lista"></app-agenda-medico>
</form>
