<script
  type="text/javascript"
  src="https://code.jquery.com/jquery-3.2.1.min.js"
></script>
<form
  (submit)="onAdicionarAgenda(agendaForm)"
  *ngIf="!estaCarregando"
  #agendaForm="ngForm"
>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputMedico">E-mail </label>
      <input
        type="email"
        class="form-control"
        id="inputMedico"
        placeholder="Confirme o email para realização da consulta"
        name="medico"
        [ngModel]="agenda?.medico"
        #medico="ngModel"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="inputLink"><a href="http://meet.google.com/new" target="_blank">Link da consulta</a></label>
      <input
        type="text"
        class="form-control"
        id="inputLink"
        placeholder="Insira aqui o link da consulta"
        name="link"
        [ngModel]="agenda?.link"
        #link="ngModel"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEspecialidade">Especialidade</label>
      <select
        id="inputEspecialidade"
        class="form-control"
        name="espec"
        [ngModel]="agenda?.espec"
        #espec="ngModel"
      >
        <option value="Cardiologia">Cardiologia</option>
        <option value="Clínico geral">Clínica geral</option>
        <option value="Neurologia">Neurologia</option>
        <option value="Nutrição">Nutrição</option>
        <option value="Pediatria">Pediatria</option>
        <option value="Psicologia">Psicologia</option>
        <option value="Psiquiatria">Psiquiatria</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPaciente">Paciente</label>
      <select
        id="inputPaciente"
        class="form-control"
        name="paciente"
        [ngModel]="agenda?.paciente"
        #paciente="ngModel"
      >
        <option selected>Selecione o paciente para filtrar</option>
        <option value="Todos">Todos</option>
        <option value="Bianca">Bianca</option>
        <option value="Rejane">Rejane</option>
        <option value="Maria">Maria</option>
        <option value="Teste">Teste</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputData">Data </label>
      <input
        type="date"
        class="form-control"
        id="inputData"
        placeholder="Selecione uma data"
        name="date"
        [ngModel]="agenda?.date"
        #date="ngModel"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="inputHora">Horário</label>
      <input
        type="time"
        class="form-control"
        id="inputHora"
        placeholder="Selecione um horário"
        name="hora"
        [ngModel]="agenda?.hora"
        #hora="ngModel"
      />
    </div>
  </div>
  <div class="form-row">
    <button type="submit" class="btn btn-info" value="enviar">Agendar</button>
  </div>

  <full-calendar [options]="calendarOptions"></full-calendar>
  <app-agenda-medico class="lista"></app-agenda-medico>
</form>
