.form-row img {
  height: 250px;
}

.form-row .img1 {
  height: 250px;
}
.form-row .img2 {
  height: 250px;
}
.form-row .img3 {
  height: 250px;
}

#banner {
  width: 100%;
  height: 600px;
  object-position: center;
  object-fit: cover;
}

.homecontent {
  animation: fadeIn ease 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.homecontent {
  position: absolute;
  top: 60%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.homecontent h1 {
  color: rgb(12, 7, 39);
  font-size: 45px;
}

.homecontent a {
  margin: top 10px;
}

@media screen and (max-width: 600px) {
  .home img {
    height: 700px;
  }
  .homecontent {
    font-size: 30px;
  }
}

.form-row img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
